{% extends "layout.html" %}

{% block main %}

    <h2>Programming languages</h2>
    <br>

    <table class="table">
      <tbody>
          <thead class="thead-dark">
            <tr>
              <th scope="row">Python</th>
            </tr>
          </thead>
            <tr>
              <th scope="row">JavaScript</th>
            </tr>
          <thead class="thead-dark">
            <tr>
              <th scope="row">Java</th>
            </tr>
          </thead>
            </thead>
            <tr>
              <th scope="row">C++</th>
            </tr>
          <thead class="thead-dark">
            <tr>
              <th scope="row">C#</th>
            </tr>
          </thead>
            </thead>
            <tr>
              <th scope="row">C</th>
            </tr>
          <thead class="thead-dark">
            <tr>
              <th scope="row">PHP</th>
            </tr>
          </thead>
      </tbody>
    </table>

{% endblock %}